@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?506995');
  src:  url('fonts/icomoon.eot?506995#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?506995') format('truetype'),
    url('fonts/icomoon.woff?506995') format('woff'),
    url('fonts/icomoon.svg?506995#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: white;
  font-size: 4rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-down:before {
  content: "\ea43";
}
