@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,600');



.hcontent{

    background: url('assets/banner.png');
    height: 100vh;
    background-size: cover;
    /* position: relative; */
    background-attachment: fixed;

    display: flex;
    flex-direction:column;
    
    justify-content: space-around;

}

.hcontent h1{

   font-family: 'Lora', sans-serif;
   color: white;    
   align-self: center;
  
}

.hcontent span{
    align-self: center;
  
}

.work h1{

    margin: 100px auto;
    text-align: center;

}

.work h2{

    font-family: 'Lora', serif;
    /* font-weight:bold; */
    font-size: 3rem;
}

.work1{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:100vh;
    /* border-top: 0.5px solid black; */
}

.work1_content{

    flex-basis: 50%;
    align-self: center;
    text-align: center;
}

.work1_images{

    flex-basis: 50%;
    background: url('assets/ECOMMERCE.png');
    background-size: cover;

}




.work2{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:100vh;
    /* border-top: 0.5px solid black; */
}

.work2_content{

    flex-basis: 50%;
    align-self: center;
    text-align: center;
}



.work2_images{

    flex-basis: 50%;
    background: url('assets/asq.png');
    background-size: cover;

}


.work3{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:100vh;
    /* border-top: 0.5px solid black; */
}

.work3_content{

    flex-basis: 50%;
    align-self: center;
    text-align: center;
}

.work3_images{

    flex-basis: 50%;
    background: url('assets/cinc.png');
    background-size: cover;

}


.work4{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:100vh;
    /* border-top: 0.5px solid black; */
}

.work4_content{

    flex-basis: 50%;
    align-self: center;
    text-align: center;
}

.work4_images{

    flex-basis: 50%;
    background: url('assets/logos.png');
    background-size: cover;

}

.work5{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:100vh;
    /* border-top: 0.5px solid black; */
}

.work5_content{

    flex-basis: 50%;
    align-self: center;
    text-align: center;
}

.work5_images{

    flex-basis: 50%;
    background: url('assets/skeuo.png');
    background-size: cover;

}

