@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,600');

/* header{

    background: url('assets/ecomm.png');
    background-size:cover;
    height:100vh;
} */

img {

    max-width: 100%;
    height: auto;
}

.wrapper{

    max-width: 100%;
  }

.material-icons{

    
    font-size: 3.25rem !important;
    padding: 3%;
    text-decoration: none;
    color: grey;
    
}
header h1{

    font-family: 'Lora', sans-serif;
    text-align: center;
    font-weight: 700;
    padding-top: 1%;   
    padding-bottom: 2%;
}

header p{

    margin: auto 8%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
}

.image{

    width: 80%;
    margin: 0 auto;
    padding: 3%;
}

.image_last{

    width: 50%;
    margin: 0 auto;
    padding: 3%;
}
.images{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 4%;

}
.image1{
 
    flex-basis: 30%;
    margin:1.6%;
    border: 1px solid black;
   
}
.image2{
 
    flex-basis: 30%;
    margin:1.6%;
    border: 1px solid black;
   
}
.image3{
 
    flex-basis: 30%;
    margin:1.6%;
    border: 1px solid black;
   
}
.image4{
 
    flex-basis: 30%;
    margin:1.6%;
    border: 1px solid black;
   
}
.image5{
 
    flex-basis: 30%;
    margin:1.6%;
    border: 1px solid black;
   
}
.image6{
 
    flex-basis: 30%;
    margin:1.6%;
    border: 1px solid black;
   
}