@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,600');

/* header{

    background: url('assets/ecomm.png');
    background-size:cover;
    height:100vh;
} */

img {

    max-width: 100%;
    height: auto;
}

.wrapper{

    max-width: 100%;
}

.material-icons{

    
    font-size: 3.25rem !important;
    padding: 3%;
    text-decoration: none;
    color: grey;
    
}

header h1{

    font-family: 'Lora', sans-serif;
    text-align: center;
    font-weight: 700;
    padding-top: 1%;   
    padding-bottom: 2%;
}

h1{

    font-family: 'Lora', sans-serif !important;
    text-align: center;
    font-weight: 700 !important;
    padding-top: 8%;   
    padding-bottom: 2%;

}
p{

    margin: auto 8%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

.images{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image1{
 
    flex-basis: 45%;
    margin:2.5%;
    border: 1px solid black;
   
}
.image2{
 
    flex-basis: 45%;
    margin:2.5%;
    border: 1px solid black;
   
}

.image3{
 
    width: 45%;
    margin:0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}



